@import "tailwindcss";

/* Swiper pagination bullets ko black karne ke liye */
.swiper-pagination-bullet {
  background-color: black !important;
  opacity: 0.5;
  width: 13px !important;
  height: 13px !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;  /* arrow ka color black */
  
}
